.project-page {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: #32CD32;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #228B22;
}

.btn-back {
  background-color: #32CD32;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.btn-back:hover {
  background-color: #228B22;
}

.project-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-back {
  background-color: #32CD32;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-back:hover {
  background-color: #228B22;
}
